<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaochen.beatles.mapper.AccessMapper">
  <resultMap id="BaseResultMap" type="com.xiaochen.beatles.pojo.Access">
    <id column="Access_id" jdbcType="INTEGER" property="accessId" />
    <result column="Access_carcard" jdbcType="VARCHAR" property="accessCarcard" />
    <result column="Access_startdate" jdbcType="TIMESTAMP" property="accessStartdate" />
    <result column="Access_enddate" jdbcType="TIMESTAMP" property="accessEnddate" />
    <result column="Access_cost" jdbcType="VARCHAR" property="accessCost" />
    <result column="Access_other1" jdbcType="VARCHAR" property="accessOther1" />
    <result column="Access_other2" jdbcType="VARCHAR" property="accessOther2" />
  </resultMap>

  <insert id="insertAccess" parameterType="com.xiaochen.beatles.pojo.Access">
    insert into access
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accessId != null">
        Access_id,
      </if>
      <if test="accessCarcard != null">
        Access_carcard,
      </if>
      <if test="accessStartdate != null">
        Access_startdate,
      </if>
      <if test="accessEnddate != null">
        Access_enddate,
      </if>
      <if test="accessCost != null">
        Access_cost,
      </if>
      <if test="accessOther1 != null">
        Access_other1,
      </if>
      <if test="accessOther2 != null">
        Access_other2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accessId != null">
        #{accessId,jdbcType=INTEGER},
      </if>
      <if test="accessCarcard != null">
        #{accessCarcard,jdbcType=VARCHAR},
      </if>
      <if test="accessStartdate != null">
        #{accessStartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="accessEnddate != null">
        #{accessEnddate,jdbcType=TIMESTAMP},
      </if>
      <if test="accessCost != null">
        #{accessCost,jdbcType=VARCHAR},
      </if>
      <if test="accessOther1 != null">
        #{accessOther1,jdbcType=VARCHAR},
      </if>
      <if test="accessOther2 != null">
        #{accessOther2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateAccess" parameterType="com.xiaochen.beatles.pojo.Access">
    update access
    <set>
      <if test="accessCarcard != null">
        Access_carcard = #{accessCarcard,jdbcType=VARCHAR},
      </if>
      <if test="accessStartdate != null">
        Access_startdate = #{accessStartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="accessEnddate != null">
        Access_enddate = #{accessEnddate,jdbcType=TIMESTAMP},
      </if>
      <if test="accessCost != null">
        Access_cost = #{accessCost,jdbcType=VARCHAR},
      </if>
      <if test="accessOther1 != null">
        Access_other1 = #{accessOther1,jdbcType=VARCHAR},
      </if>
      <if test="accessOther2 != null">
        Access_other2 = #{accessOther2,jdbcType=VARCHAR},
      </if>
    </set>
    where Access_id = #{accessId,jdbcType=INTEGER}
  </update>

  <select id="selectAccess" parameterType="com.xiaochen.beatles.pojo.Access" resultMap="BaseResultMap">
    select * from access
    where
    <if test="accessCarcard != null">
      Access_carcard = #{accessCarcard,jdbcType=VARCHAR},
    </if>
    <if test="accessStartdate != null">
      Access_startdate = #{accessStartdate,jdbcType=TIMESTAMP},
    </if>
    <if test="accessEnddate != null">
      Access_enddate = #{accessEnddate,jdbcType=TIMESTAMP},
    </if>
    <if test="accessCost != null">
      Access_cost = #{accessCost,jdbcType=VARCHAR},
    </if>
    <if test="accessOther1 != null">
      Access_other1 = #{accessOther1,jdbcType=VARCHAR},
    </if>
    <if test="accessOther2 != null">
      Access_other2 = #{accessOther2,jdbcType=VARCHAR},
    </if>
  </select>

  <!--<select id="selectAccessList" parameterType="com.xiaochen.beatles.pojo.Access"  resultMap="BaseResultMap">-->
    <!--select * from access-->
    <!--<where>-->
      <!--<if test="accessCarcard != null">-->
       <!--and Access_carcard = #{accessCarcard,jdbcType=VARCHAR}-->
      <!--</if>-->
      <!--<if test="accessStartdate != null">-->
        <!--and   Access_startdate = #{accessStartdate,jdbcType=TIMESTAMP}-->
      <!--</if>-->
      <!--<if test="accessEnddate != null">-->
        <!--and  Access_enddate = #{accessEnddate,jdbcType=TIMESTAMP}-->
      <!--</if>-->
      <!--<if test="accessCost != null">-->
        <!--and  Access_cost = #{accessCost,jdbcType=VARCHAR}-->
      <!--</if>-->
      <!--<if test="accessOther1 != null">-->
        <!--and  Access_other1 = #{accessOther1,jdbcType=VARCHAR}-->
      <!--</if>-->
      <!--<if test="accessOther2 != null">-->
        <!--and  Access_other2 = #{accessOther2,jdbcType=VARCHAR}-->
      <!--</if>-->
    <!--</where>-->
  <!--</select>-->

  <select id="selectAccessList" statementType="CALLABLE" resultMap="BaseResultMap">
      call access(
    #{page,mode=IN},
    #{limits,mode=IN},
    #{rows,mode=OUT,jdbcType=INTEGER}
    )


  </select>

</mapper>