<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaochen.beatles.mapper.ReplyMapper">
  <resultMap id="BaseResultMap" type="com.xiaochen.beatles.pojo.Reply">
    <id column="reply_id" jdbcType="INTEGER" property="replyId" />
    <result column="reply_content" jdbcType="VARCHAR" property="replyContent" />
    <result column="reply_date" jdbcType="TIMESTAMP" property="replyDate" />
    <result column="reply_appid" jdbcType="INTEGER" property="replyAppid" />
    <result column="reply_person" jdbcType="INTEGER" property="replyPerson" />
    <result column="reply_type" jdbcType="INTEGER" property="replyType" />
  </resultMap>
<!--<cache/>-->
  <insert id="ccInsert" parameterType="Reply" useGeneratedKeys="true" keyProperty="reply_id">
    insert INTO reply values(null,#{replyContent},#{replyDate},#{replyAppid},#{replyPerson},#{replyType})
  </insert>

  <select id="ccSelectByAppealId" resultMap="BaseResultMap" parameterType="int">
    select * from reply where reply_appid=#{appid}
    and reply_type=1 order by reply_date
  </select>
  <select id="ccSelectByRepairId" resultMap="BaseResultMap" parameterType="int">
    select * from reply where reply_appid=#{appid}
    and reply_type=0 order by reply_date
  </select>
  <!--报修回复-->
  <insert id="clInsert" parameterType="Reply" useGeneratedKeys="true" keyProperty="reply_id">
    insert INTO reply values(null,#{replyContent},#{replyDate},#{replyAppid},#{replyPerson},#{replyType})
  </insert>
  <!--投诉回复-->
  <insert id="cflInsert" parameterType="Reply" useGeneratedKeys="true" keyProperty="reply_id">
    insert INTO reply values(null,#{replyContent},#{replyDate},#{replyAppid},#{replyPerson},#{replyType})
  </insert>
  <sql id="Base_Column_List">
    reply_id, reply_content, reply_date, reply_appid, reply_person, reply_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from reply
    where reply_id = #{replyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from reply
    where reply_id = #{replyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaochen.beatles.pojo.Reply">
    insert into reply (reply_id, reply_content, reply_date,
      reply_appid, reply_person, reply_type
      )
    values (#{replyId,jdbcType=INTEGER}, #{replyContent,jdbcType=VARCHAR}, #{replyDate,jdbcType=TIMESTAMP},
      #{replyAppid,jdbcType=INTEGER}, #{replyPerson,jdbcType=INTEGER}, #{replyType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaochen.beatles.pojo.Reply">
    insert into reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        reply_id,
      </if>
      <if test="replyContent != null">
        reply_content,
      </if>
      <if test="replyDate != null">
        reply_date,
      </if>
      <if test="replyAppid != null">
        reply_appid,
      </if>
      <if test="replyPerson != null">
        reply_person,
      </if>
      <if test="replyType != null">
        reply_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        #{replyId,jdbcType=INTEGER},
      </if>
      <if test="replyContent != null">
        #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyDate != null">
        #{replyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="replyAppid != null">
        #{replyAppid,jdbcType=INTEGER},
      </if>
      <if test="replyPerson != null">
        #{replyPerson,jdbcType=INTEGER},
      </if>
      <if test="replyType != null">
        #{replyType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaochen.beatles.pojo.Reply">
    update reply
    <set>
      <if test="replyContent != null">
        reply_content = #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyDate != null">
        reply_date = #{replyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="replyAppid != null">
        reply_appid = #{replyAppid,jdbcType=INTEGER},
      </if>
      <if test="replyPerson != null">
        reply_person = #{replyPerson,jdbcType=INTEGER},
      </if>
      <if test="replyType != null">
        reply_type = #{replyType,jdbcType=INTEGER},
      </if>
    </set>
    where reply_id = #{replyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaochen.beatles.pojo.Reply">
    update reply
    set reply_content = #{replyContent,jdbcType=VARCHAR},
      reply_date = #{replyDate,jdbcType=TIMESTAMP},
      reply_appid = #{replyAppid,jdbcType=INTEGER},
      reply_person = #{replyPerson,jdbcType=INTEGER},
      reply_type = #{replyType,jdbcType=INTEGER}
    where reply_id = #{replyId,jdbcType=INTEGER}
  </update>
</mapper>